<div id="homePage">
  <img src="/images/spotify-background.jpeg">
  <div class="searchBar">
   <div class="search">
    <form action="/artist-search" method="GET">
    <label for="fname">Artist</label><br>
    <input  type="text" id="fname" name="fname" value="Artist"><br>
    <button type="submit">Search for an Artist</button>
   </form>
  </div>
 </div>
</div>